.sidePhoto {
  width: 60px;
  height: 60px;  
  object-fit: cover;
}

.selectedPhoto {
  width: 600px;
  height: 600px;
  object-fit: contain;
}


#product-photos {
  display: flex;
  flex-direction: row;
}

.sidePhotos {
  display: flex;
  flex-direction: column;
}

/* ==== Photos ==== */

/* ==== SideBar ==== */

.sidebar {
  width: 430px;
}

.buyButton {
  border-width: 2px !important;
}